body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    min-width: 320px;

    color: #000;
    background: #ececec;
}

img
{
    max-width: 100%;
    height: auto;
}

h3
{
    font-size: 24px;
    font-weight: 700;
}

.btn_red
{
    color: #fff;
    background: #d51e08;
}

.btn_red:hover
{
    background: #ec4835;
}

/* =============================header============================== */

.menu-top .navbar
{
    margin-bottom: 0;
    padding: 20px 0;

    text-transform: uppercase;

    background: #fff;
}

.menu-top .navbar-default .navbar-nav > li > a
{
    padding-top: 5px;
    padding-bottom: 5px;

    transition: background .3s;

    color: #000;
}

.menu-top .navbar-default .navbar-nav > li > a:hover
{
    text-decoration: underline;
}

.menu-top .navbar-default .navbar-nav > li > a.btn_red
{
    padding: 5px 20px;

    color: #fff;
    border-radius: 3px;
}

.menu-top .navbar-default .navbar-nav > li > a.btn_red:hover
{
    text-decoration: none;

    background: #ec4835;
}

.menu-top .navbar-default .navbar-nav > li > a > .glyphicon
{
    font-size: 17px;

    margin-right: 10px;
}

.menu-top .container,
.menu-top .navbar-collapse
{
    padding-left: 0;
}

.flag
{
    position: relative;
    top: -1px;

    margin-right: 5px;
}

.menu-carousel .item
{
    min-height: 600px;
}

.menu-carousel .bgslide
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-position: center center;
    background-size: cover;
}

.carousel.fade
{
    opacity: 1;
}

.carousel.fade .item
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;

    transition: opacity .5s;

    opacity: 0;
}

.carousel.fade .item.active
{
    position: relative;
    z-index: 2;

    opacity: 1;
}

.menu-carousel .carousel-caption
{
    top: 170px;
    left: 0;
}

.menu-carousel .carousel-caption h1
{
    font-size: 48px;
    font-weight: 700;
}

.menu-carousel .carousel-caption h3
{
    font-size: 30px;

    margin-bottom: 40px;
}

.menu-carousel .carousel-caption .btn_red
{
    font-size: 24px;

    padding: 20px 30px;

    color: #fff;
    border-radius: 3px;
}

.menu-carousel .carousel-caption .btn_red
{
    text-decoration: none;
}

.menu-carousel .container
{
    position: relative;
}

.menu-carousel .carousel-control
{
    z-index: 10;
}

.carousel-indicators-wrap
{
    position: absolute;
    bottom: -25px;

    width: 100%;

    text-align: center;
}

.carousel-indicators-wrap .carousel-indicators
{
    position: relative;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: auto;
    margin-left: 0;
    padding: 5px 25px;

    border: 1px solid #cfcfcf;
    border-radius: 3px;
    background: #fff;
}

.carousel-indicators-wrap .carousel-indicators li
{
    width: 10px;
    height: 10px;
    margin: 0 7px;

    background: #d2d2d2;
}

.carousel-indicators-wrap .carousel-indicators li.active
{
    background: #a3a3a3;
}

.carousel-indicators-wrap .carousel-indicators li:first-child
{
    margin-left: 0;
}

.carousel-indicators-wrap .carousel-indicators li:last-child
{
    margin-right: 0;
}

.main-menu .navbar-inverse
{
    border: none;
    background: transparent;
}

.main-menu
{
    position: absolute;
    z-index: 21;
    top: 31px;

    width: 100%;
}

.main-menu-bg
{
    border-radius: 3px;
    background: #000;
}

.main-menu .navbar-inverse .navbar-nav > li > a
{
    font-size: 16px;

    transition: background .5s;

    color: #fff;
}

.main-menu .navbar-inverse .navbar-nav > li > a:hover
{
    text-decoration: underline;
}

.menu-carousel .main-menu .navbar-brand
{
    margin-left: 34px;
    padding: 0;
}

.main-menu .navbar-brand img
{
    float: left;
}

.main-menu .navbar-brand span
{
    font-weight: 700;
    font-variant: small-caps;

    display: inline-block;

    padding: 15px;

    text-transform: uppercase;

    color: #fff;
}

/*========================content=========================*/

.main-slogan
{
    padding: 50px 0;

    text-align: center;

    border-top: 1px solid #cfcfcf;
    border-bottom: 3px solid #dadada;
    background: #fff;
}

.main-slogan h1
{
    font-size: 30px;

    margin: 0;
}

.sidebar
{
    padding: 50px 0 90px;

    border-right: 3px solid #dadada;
}

.widget
{
    margin-bottom: 30px;
    padding-bottom: 30px;

    border-bottom: 3px solid #dadada;
}

.widget h3,
.content h3
{
    margin-top: 0;
    margin-bottom: 30px;
}

.widget ul
{
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.widget ul li a
{
    font-size: 16px;
    line-height: 30px;

    display: block;

    color: #000;
}

.widget ul li.more a
{
    color: #358acd;
}

.sidebar .carousel
{
    overflow: hidden;

    margin-bottom: 23px;
}

.sidebar .sidebar-carousel-caption
{
    border-bottom: 1px solid #e1e1e1;
    background: #fff;
}

.sidebar .sidebar-carousel-caption div
{
    padding: 25px 21px 14px 21px;
}

.sidebar .sidebar-carousel-caption h4
{
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;

    margin-top: 0;
}

.sidebar .sidebar-carousel-caption p
{
    font-size: 12px;
    line-height: 18px;

    margin-bottom: 0;

    color: #5b5b5b;
}

.sidebar .carousel-indicators
{
    position: relative;
    bottom: 0;
    left: 0;

    width: auto;
    margin-left: 0;
    padding: 13px 0;

    background: #fff none repeat scroll 0 0;
}

.sidebar .carousel-indicators li
{
    width: 10px;
    height: 10px;
    margin: 0 5px;

    background: #9a9a9a;
}

.sidebar .carousel-indicators li.active
{
    background: #5b5b5b;
}

.sidebar .banner
{
    margin-bottom: 40px;

    background: #fff;
}

.sidebar .banner img
{
    margin-bottom: 35px;
}

.sidebar .banner h3,
.sidebar .banner h2
{
    margin: 0;

    text-transform: uppercase;
}

.sidebar .banner h3
{
    font-size: 18px;
}

.sidebar .banner h2
{
    font-size: 28px;
    font-weight: bold;
}

.sidebar .banner a.btn_red
{
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;

    display: inline-block;

    margin: 30px 0;
    padding: 5px 30px;

    transition: all .5s;
    text-transform: uppercase;

    border-radius: 3px;
}

.sidebar .banner a.btn_red:hover
{
    text-decoration: none;

    color: #fff;
}

.sidebar .about
{
    padding-right: 35px;
}

.sidebar .about
{
    padding-right: 35px;
}

.sidebar .about h3
{
    font-size: 24px;

    margin: 0 0 25px;
}

.sidebar .about p
{
    margin-bottom: 30px;

    color: #585858;
}

.sidebar .about span
{
    color: #0a94b2;
}

.content h3
{
    padding-left: 15px;
}

.products-row
{
    margin-bottom: 50px;
}

.content
{
    padding: 50px 0 70px;
}

.product
{
    position: relative;

    overflow: hidden;

    height: 459px;
    padding: 28px 15px;

    transition: all .5s;
    text-align: center;

    border: 1px solid #c0c0c0;
    background: #fff;
}

.product:hover
{
    box-shadow: 0 0 16px rgba(0, 0, 1, .5);
}

.product-favorites
{
    position: absolute;
    top: 16px;
    right: 22px;
}

.product-favorites span
{
    font-size: 20px;

    color: #909090;
}

.product-sale
{
    line-height: 50px;

    position: absolute;
    top: 15px;
    left: 15px;

    width: 50px;
    height: 50px;

    text-transform: uppercase;

    border: 1px solid #d1d1d1;
}

.product-img
{
    width: 100%;
    height: 200px;
}

.product-title a
{
    font-size: 14px;
    font-weight: 700;

    text-transform: uppercase;

    color: #000;
}

.product-desc
{
    line-height: 24px;

    overflow: hidden;

    max-height: 60px;
}

.product-buy
{
    position: absolute;
    bottom: 15px;
    left: 0;

    width: 100%;

    text-align: center;
}

.product-price
{
    font-size: 18px;
    font-weight: bold;

    margin-bottom: 29px;

    color: #d51e08;
}

.product-buy .btn
{
    padding: 14px 25px;

    text-transform: uppercase;

    border-radius: 2px;
    box-shadow: 0 0 0 rgba(0, 0, 0, .38);
}

.product-buy .btn:hover
{
    background: #ececec;
    box-shadow: 0 0 0 rgba(0, 0, 0, .38);
}

.banner-row
{
    margin-bottom: 42px;

    text-align: center;
}

.banner-row img
{
    margin-bottom: 10px;
}

.bottom-content
{
    padding: 46px 0;

    border-bottom: 1px solid #9e9e9e;
    background: #f5f5f5;
}

.bottom-content h3
{
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;

    margin: 0;
}

.bottom-content h4
{
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
}

.bottom-content .form-inline .form-control
{
    width: 100%;
    height: 50px;
}

.bottom-content .form-inline .btn
{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;

    width: 100%;
    height: 50px;
    padding: 0 47px;

    transition: all .5s;

    color: #fff;
    border-bottom: 4px solid #d96340;
    background: #e77553;
}

.bottom-content .form-inline .btn:hover
{
    background: #d96340;
}

.bottom-slider
{
    padding-top: 48px;
    padding-bottom: 38px;

    background: #fff;
}

.elastislide-wrapper
{
    box-shadow: none;
}

.elastislide-horizontal nav span
{
    left: 0;
}

.elastislide-horizontal nav span.elastislide-next
{
    right: 0;
}

.elastislide-wrapper nav span
{
    border-radius: 0;
    background: #d0d0d0 url(../img/nav.png) no-repeat 4px 3px;
}

/*=============================footer===========================*/
.footer-menu
{
    padding: 30px 0;

    background: #343434;
}
.footer-menu h5
{
    font-weight: 700;
    line-height: 14.01px;

    text-transform: uppercase;

    color: #c8c8c8;
}

.footer-menu ul
{
    padding: 0;

    list-style: none;
}

.footer-menu ul li a
{
    line-height: 24.02px;

    color: #c8c8c8;
}

.footer-copyright
{
    padding-top: 28px;
    padding-bottom: 30px;

    background: #fff;
}

/*=======================adaptiv=========================*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px)
{
    .menu-top .navbar-nav,
    .main-menu .navbar-nav
    {
        float: none !important;
    }
    .menu-carousel .carousel-caption
    {
        left: 20%;
    }
    .main-menu .navbar-form
    {
        margin-left: 125px;
    }

    .sidebar .carousel,
    .sidebar .banner
    {
        margin-right: 10px;
    }

    .social-icons img
    {
        display: block;

        margin-bottom: 3px;
    }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px)
{
    .menu-carousel .carousel-caption h1
    {
        font-size: 40px;
    }

    .menu-carousel .carousel-caption h3
    {
        font-size: 22px;
    }

    .main-menu .navbar-inverse .navbar-nav > li > a
    {
        font-size: 14px;
    }

    .sidebar
    {
        padding-top: 0;
        padding-bottom: 0;

        border-right: none;
    }

    .sidebar .carousel,
    .sidebar .banner
    {
        margin-right: 0;
    }

    .bottom-content .form-inline
    {
        margin-top: 20px;
    }
    .footer-menu ul li a
    {
        display: block;
    }
    .social-icons img
    {
        display: inline;

        margin-bottom: 0;
    }
    .pay
    {
        text-align: left;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px)
{
    .main-menu .container
    {
        padding-right: 0;
        padding-left: 0;
    }

    .products-row
    {
        margin: 20px 0;
    }

    .product
    {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px)
{
    .menu-top .navbar-default .navbar-nav > li > a:hover
    {
        background: #eee;
    }

    .menu-top .container,
    .menu-top .navbar-collapse
    {
        padding-left: 15px;
    }

    .menu-carousel .carousel-caption h1
    {
        font-size: 38px;
    }

    .menu-carousel .carousel-caption h3
    {
        font-size: 20px;
    }

    .menu-carousel .carousel-caption .btn_red
    {
        font-size: 16px;

        padding: 15px 20px;
    }

    .main-menu .navbar-inverse .navbar-nav > li > a:hover
    {
        text-decoration: none;

        background: #222;
    }

    .main-menu .navbar-form
    {
        margin: 8px 0;
    }

    .main-menu .navbar-brand img
    {
        max-height: 50px;
    }

    .main-menu .navbar-toggle.collapsed + .navbar-brand img
    {
        position: relative;
        z-index: 20;

        max-height: none;
    }
}

@media only screen and (max-width: 540px)
{
    .sidebar .col-xs-6
    {
        width: 100%;
    }

    .sidebar .carousel,
    .sidebar .banner
    {
        display: inline-block;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px)
{
    .menu-carousel .carousel-caption .btn_red
    {
        font-size: 14px;
    }

    .main-menu .navbar-toggle.collapsed + .navbar-brand img
    {
        max-height: 80px;
    }

    .bottom-content
    {
        padding: 25px 0;
    }
}

@media only screen and (min-width: 1200px)
{
    .main-menu .navbar-form
    {
        display: block !important;
    }
}
